/*global styles*/
:root {
  --dark-color: #301a4b;
  --white-color: #f5f5f5;
  --dark-gradient: linear-gradient(90deg, #301a4b 0%, #4b1a44 100%);
  --pink-gradient: radial-gradient(
    88.91% 165.67% at 76.5% 29.12%,
    #f39a9d 0%,
    #713db1 100%
  );
}

body {
  background-color: var(--white-color);
  color: var(--dark-color);
}

/*custom styles*/

.text-pink-gradient {
  background: radial-gradient(
      88.91% 165.67% at 76.5% 29.12%,
      #f39a9d 0%,
      #713db1 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-dark-gradient {
  background: linear-gradient(90deg, #301a4b 0%, #4b1a44 100%);
}

.bg-pink-gradient {
  background: radial-gradient(
    88.91% 165.67% at 76.5% 29.12%,
    #f39a9d 0%,
    #713db1 100%
  );
}

.border-dark-gradient {
  background: linear-gradient(var(--white-color), var(--white-color))
      padding-box,
    var(--dark-gradient) border-box;
  border: 4px solid transparent;
}

.border-pink-gradient {
  background: linear-gradient(var(--white-color), var(--white-color))
      padding-box,
    var(--pink-gradient) border-box;
  border: 4px solid transparent;
}
