---
import Layout from '../layouts/Layout.astro';
import Intro from '@/components/about/intro.vue';
import TechnicalDetails from '@/components/about/technicalDetails.vue';
import Projects from '@/components/about/projects.vue';
import WorkExperience from '@/components/about/workExperience.vue';
import Contact from '@/components/about/contact.vue';
import { getCollection } from 'astro:content';
import Kirbyotd from '@/components/misc/kirbyotd.vue';

const projects = await getCollection('projects')

const newestProjects = projects.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0,3)


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout page="about">
	<div class="flex flex-col gap-24">
		<div class="w-full flex justify-between items-center px-12 sm:px-24 flex-wrap gap-8">
			<Intro class="flex-1" client:visible/>
			<Kirbyotd class="flex-1" client:only="vue"/>
		</div>
		
		<TechnicalDetails client:visible/>
		<Projects class="px-12 sm:px-24" projects={newestProjects} client:visible/>
		<WorkExperience class="px-12 sm:px-24" client:only="vue"/>
		<Contact class="px-12 sm:px-24" client:visible/>
	</div>
		
</Layout>
